<footer class="footer">
  <small>
      Copyright © 2015 <a href="http://spencerhorn.com/">SpencerHorn.com</a>
      by <a href="http://spencerhorn.com/">Spencer Horn</a>
  </small>
  <nav>
  <ul>
      <li><%= link_to "About",      about_path %></li>
      <li><%= link_to "Contact",    contact_path %></li>
  </ul>
  </nav>
  </footer>

